{% extends 'Web/base.html.twig' %}

{% block title %} Register {% endblock %}

{% block body %}

<div class="container" id="register">
    <div class="col-md-12">
        {{ form_start(form) }}
            {{ form_row(form.oldPassword) }}
            {{ form_row(form.newPassword) }}
            {{ form_row(form.newPasswordConfirm) }}
        <button type="submit" id="send-reg-pass">Register</button>
        {{ form_end(form) }} 
    </div>
</div>

{% endblock %}
