{% extends 'Admin/base.html.twig' %}

{% block title %} Register {% endblock %}

{% block body %}

<div class="container">
    <div class="col-md-9 card" style="min-height:25em; color: white; padding: 2em;">
        {{ form_start(form) }}
            {{ form_row(form.oldPassword) }}
            {{ form_row(form.newPassword) }}
            {{ form_row(form.newPasswordConfirm) }}
            <button type="submit" class="btn btn-success">Register</button>
        {{ form_end(form) }} 
    </div>
</div>

{% endblock %}
