{% extends 'Admin/base.html.twig' %}

{% block title %} Albums {% endblock %}

{% block body %}
<section class="container" id="section-home">
    <div class="col-md-9 card" style="min-height:25em; color: white; padding: 2em;">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Style</th>
                    <th>Artist</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for albums in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ albums.name }}</td>
                    <td>{{ albums.types.name }}</td>
                    <td>{{ albums.artists.name }}</td>
                    <td><a href="{{ path('ad_album_update', {id : albums.id}) }}"><img src="{{ asset('Admin/img/update.png') }}"/></td>
                    <td><img src="{{ asset('Admin/img/delete.png') }}" data-toggle="modal" data-target="#delete-modal-{{ albums.id }}"/></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
        <a href="{{ path('ad_album_insert') }}" class="btn btn-success" role="button">Add an album</a>
    </div>
</section>

{% for albums in data %}
<div class="modal" id="delete-modal-{{ albums.id }}">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete album</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                You are on the point to delete this album, would you want to confirm
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">no</button>
                <a href="{{ path('ad_album_delete', {id : albums.id}) }}" role="button" class="btn btn-danger" style="color:white">yes</a>
            </div>

        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
